*{
	padding: 0px;
	margin: 0px;
}
#top{
	height: 80px;
	background-color: black;
	text-align: center;
}
#top > h1{
	color: white;
	font: 20px/80px "微软雅黑";
	font-weight: bold;
}
#center .inner{
	text-align: center;
	float: left;
	width: 150px;
	height: 200px;
	margin-top: 20px;
}
#center .inner p{
	height: 40px;
	font: 20px/40px "微软雅黑";
}
#center .wrap{
	float: left;
	width: 856px;
	height: 220px;
	margin: 10px 0px 0px 50px;
}
#center .wrap caption{
	text-align: center;
}
#center .wrap tr:not(.no-hover):hover{
	background-color: #bfa;
}
